html,
body {
  height: 100%;
  scroll-behavior: smooth;
  background-color: rgb(31, 41, 55);
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
    "Noto Color Emoji";
  font-feature-settings: normal;
  tab-size: 4;
  text-rendering: optimizeLegibility;
  color: #ccc;
  font-size: 1.05em;
}

main {
  line-height: 1.25rem;
  max-width: 48rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
}
/* Estilos para los encabezados h1 a h5 */
h1 {
  font-size: 2.5em;
  line-height: calc(1ex / 0.42);
  margin: calc(1ex / 0.62) 0;
}

h2 {
  font-size: 2em;
  line-height: calc(1ex / 0.42);
  margin: calc(1ex / 0.62) 0;
}

h3 {
  font-size: 1.5em;
  line-height: calc(1ex / 0.38);
  margin: calc(1ex / 0.58) 0;
}

h4 {
  font-size: 1.25em;
  line-height: calc(1ex / 0.37);
  margin: calc(1ex / 0.57) 0;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: #ffffcc;
}

ul {
  list-style: square;
  padding-left: 0;
}

ul li {
  padding: 0.5rem 0;
}

ul.social-icons {
  list-style: none;
}

ul.social-icons li {
  padding: 0;
}

p {
  line-height: calc(1ex / 0.32);
  margin: calc(1ex / 0.32) 0;
}

p[lang="en"] {
  text-align: justify;
  hyphens: auto;
}

@supports (font-size-adjust: 1;) {
  article {
    font-size-adjust: 0.5;
  }
}

kbd {
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
}

blockquote {
  font-style: italic;
  font-size: 1.15rem;
}

@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 1em;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1em;
  }
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Bold.woff2") format("woff2"),
    url("Roboto-Bold.woff") format("woff"),
    url("Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-BoldItalic.woff2") format("woff2"),
    url("Roboto-BoldItalic.woff") format("woff"),
    url("Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Black.woff2") format("woff2"),
    url("Roboto-Black.woff") format("woff"),
    url("Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Italic.woff2") format("woff2"),
    url("Roboto-Italic.woff") format("woff"),
    url("Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-BlackItalic.woff2") format("woff2"),
    url("Roboto-BlackItalic.woff") format("woff"),
    url("Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-MediumItalic.woff2") format("woff2"),
    url("Roboto-MediumItalic.woff") format("woff"),
    url("Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-LightItalic.woff2") format("woff2"),
    url("Roboto-LightItalic.woff") format("woff"),
    url("Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Light.woff2") format("woff2"),
    url("Roboto-Light.woff") format("woff"),
    url("Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.woff2") format("woff2"),
    url("Roboto-Regular.woff") format("woff"),
    url("Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Medium.woff2") format("woff2"),
    url("Roboto-Medium.woff") format("woff"),
    url("Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Thin.woff2") format("woff2"),
    url("Roboto-Thin.woff") format("woff"),
    url("Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-ThinItalic.woff2") format("woff2"),
    url("Roboto-ThinItalic.woff") format("woff"),
    url("Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
